*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
h1,h2,h3{
    font-weight: normal;
}
section>h2:first-child{
    font-size: 4.2vw;
    border-left: 2px solid #d43c33;
    padding-left: 2.6vw;
    line-height: 1;
    margin-bottom: 3.8vw;
}
body{
    font-size: 3.7vw;
}
/*页面上方logo以及右边的a标签*/
.topbar{
    background: #d43c33;
    padding: 4.5vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar .topbar-svg{
   width: 38vw;
}

.topbar .downloadApp{
    line-height: 7.5vw;
    border: 1px solid rgba(255, 255, 255,.6);
    border-radius: 4.25vw;
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 0.5em;
}
/*logo下方的页面导航栏*/
.home-nav > ol{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    font-size: 1.1em;
}
.home-nav > ol> li{
    flex: 1;
}
.home-nav > ol> li.active{
    color: #D33a31;
}
.home-nav > ol> li >span{
    height: 10vw;
    line-height: 11vw;
    display: inline-block;
    position: relative;
}

.home-nav > ol> li.active> span::before{
    content: "";
    position: absolute;
    bottom: -1px;
    border-bottom: 2px solid #D33A31;
    left: -2vw;
    right: -2vw;
}

/*推荐歌单*/
.remd-lists{
    padding-top: 5.4vw;
    padding-bottom: 6.4vw;
}
.remd-lists >ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.remd-lists >ul img{
    width: 100%;
}
.remd-lists >ul >li{
    width: calc(33.333333% - 0.5vw);
    margin-bottom: 4vw;
}
.remd-lists >ul >li p{
    padding: 0 1vw;
    display: -webkit-box;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 3.5vw;
}
/*tab切换*/
.tab-content > li{
    display: none;
}
.tab-content > li.active{
    display: block;
}

/*最新音乐*/
.latestMusic{

}
.latestMusic > p{
    text-align: center;
}
.latestMusic > ol{
    padding-left: calc(2.6vw + 2px);
}
.latestMusic >ol >li{
    border-bottom: 1px solid #e2e2e3;
    padding: 1.6vw 0;
    position: relative;
}
.latestMusic >ol >li a{
    text-decoration: none;
    color: inherit;
}
.latestMusic >ol >li h3{
    font-size: 4.53vw;
}
.latestMusic >ol >li p{
    font-size: 3.2vw;
    color: #888;
    display: flex;
    align-items: center;
    line-height: 1;
    padding-top: 0.8vw;
}
.latestMusic >ol >li>a>svg.play{
    width: 8vw;
    height: 8vw;
    position: absolute;
    right: 4vw;
    top:50%;
    transform: translateY(-50%);
    fill: #aaaaaa;
}
.latestMusic >ol >li>p>svg.sq{
    width: 4.2vw;
    height: 4.2vw;
    margin-right: 0.5em;
    fill: #FE672E;
} 
/*页面下方的logo及oppen按钮*/
.home-ft{
    background: url('https://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922') no-repeat;
    padding-bottom: 6vw;
}
.home-ft .logo{
    text-align: center;
    padding-top: 16.9%;
}
.home-ft .logo .logosvg{
    width: 61.3vw;
    height: 11.7vw;
}
.home-ft .openapp{
    line-height: 10vw;
    border: 1px solid #d33a31;
    border-radius: 10vw;
    font-size: 4.2vw;
    color: #d33a31;
    margin: 4vw 10vw 1.3vw;
    text-align: center;
}
.home-ft .copyright{
    color: #888;
    text-align: center;
    font-size: 3.2vw;
    line-height: 3.7vw;
    transform: scale(.75);
}
/*热歌榜*/
.tab-content .hot-song .m-hot{
    width: 100vw;
    height: 100vh;
}

.tab-content .hot-song .hot-top{
    position: relative;
    padding-top: 38.9%;
    overflow: hidden;
    background: url("//s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee") no-repeat;
    background-size: contain;
}
.tab-content .hot-song .hot-top::after,
.hot-song .hot-opct{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.tab-content .hot-song .hot-top::after{
    content: "";
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.tab-content .hot-song .hot-opct{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 2;
    padding-left: 5.33vw;
}
.tab-content .hot-song .u-hmsprt{
    background: url("//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880") no-repeat;
    background-size: 44.26vw 25.86vw;
}
.tab-content .hot-song .hot-icon{
    width: 37.86vw;
    height: 17.86vw;
    background-position: -6.4vw -8vw;
}
.tab-content .hot-song .hot-time{
    margin-top: 2.66vw;
    font-size: 3.2vw;
    color: hsla(0,0%,100%,.8);
    transform: scale(.91);
    transform-origin: left top;
}

.tab-content .hot-song .hot-lists >p{
    text-align: center;
}
.tab-content .hot-lists >ol a{
    text-decoration: none;
    color: inherit;
    display: flex;
}
.tab-content .hot-lists li{
    padding-left: 2.66vw;
}
.tab-content #hot-music li:nth-child(1) .number,
.tab-content #hot-music li:nth-child(2) .number,
.tab-content #hot-music li:nth-child(3) .number{
    color: #df3436;
}
.tab-content .hot-lists .number{
    display: flex;
    font-size: 4.53vw;
    width: 7.46vw;
    align-items: center;
    color: #999;
}
.tab-content .hot-lists .track-list{
    display: flex;
    flex: 1 1 auto;
    border-bottom: 1px solid #e2e2e3;
}
.tab-content .hot-lists .track{
    flex: 1 1 auto;
    padding: 1.6vw 0;
}
.tab-content .hot-lists .track h3{
    padding: 1px 0;
    font-size: 4.53vw;
}
.tab-content .hot-lists .track p{
    color: #888;
    font-size: 3.2vw;
    padding: 1px 0;
}
.tab-content .hot-lists .icon{
    display: flex;
    align-items: center;
    padding: 0 2.66vw;
}
.tab-content .hot-lists >ol >li svg{
    width: 8vw;
    height: 8vw;
    fill: #aaaaaa;
}
/*搜素页面*/
.tab-content .m-search{
    background: #fbfcfd;
}
.tab-content .m-search .search-top{
    padding: 4vw 2.66vw;
    position: relative;
}
.tab-content .m-search .search-top::after{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.m-search .search-top .m-input{
    position: relative;
    width: 100%;
    height: 8vw;
    padding: 0 8vw;
    background: #ebecec;
    border-radius: 8vw;
}
.m-search .search-top .m-input >svg.search{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 2.11vw;
    vertical-align: middle;
}
.m-search .search-top .m-input >svg.s{
    width: 4.8vw;
    height: 4.8vw;
    fill: #c9c9c9;
}
.m-search .search-top .m-input .input{
    position: absolute;
    width: 100%;
    height: 8vw;
    line-height: 4.8vw;
    background: transparent;
    font-size: 3.73vw;
    color: #333;
    border: 0;
}
.m-search .search-top .m-input .holder{
    position: absolute;
    left: 8vw;
    top: 1.33vw;
    font-size: 3.73vw;
    color: #c9c9c9;
    background: transparent;
    pointer-events: none;
}