*{
    margin: 0; padding: 0; box-sizing: border-box;
}
*::before,::after{box-sizing: border-box;}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('http://music.163.com/api/img/blur/5998935441219557') no-repeat center;
    background-size: cover;
}

/*container*/
.disc-container{
    position: relative;
}
.disc-container .pointer{
    width: 26vw;
    position: absolute;
    left: 46vw;
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19vw;
}
.disc-container .ring{
    width: 79vw;
}
.disc-container .light{
    width: 79vw;
    position: absolute;
}
.disc-container .cover{
    width: 50vw;
    position: absolute;
    border-radius: 50%;
}
.disc-container.playing .light,
.disc-container.playing .cover{
    animation: circle 22s infinite linear;
}

/*歌词*/
.song-description{
    color: #AEABAC;
    text-align: center;
    margin-top: 25px;
}
.song-description h1{
    font-size: 18px;
    color: #fff;
}

.song-description .lyric{
    margin-top: 14px;
}
.song-description .lines{
    line-height: 1.5;
    font-size: 16px;
    height: 88px;
    overflow: hidden;
}
.song-description p{
    padding-bottom: 8px;
}
/*按钮*/
.links{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2vh;
    z-index: 10;
}

.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D43832;
}
.footer-wrap span{
    width:37.3vw;
    margin: 0.5em;
    text-align: center;
    border: 1px solid #D43832;
    background: transparent;
    height: 6.3vh;
    line-height: 6vh;
    border-radius: 4px;
    letter-spacing: 4px;
    font-size: 18px;
}
.footer-wrap span.u-red{
    color: #fff;
    background-color: #d43b32;
}

