*{
    margin: 0; padding: 0; box-sizing: border-box;
}
*::before,::after{box-sizing: border-box;}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*background: url('http://music.163.com/api/img/blur/5998935441219557') no-repeat center;*/
    background-size: cover;
    z-index: -1;
}
.page::before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

/*container*/
.disc-container{
    position: relative;
}
.disc-container .icon-wrap{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.disc-container .icon{
    width: 10vw;
    fill: white;
}
.disc-container .pointer{
    width: 26vw;
    position: absolute;
    left: 46vw;
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19vw;
    position: relative;
}
.disc-container .ring{
    width: 79vw;
}
.disc-container .light{
    width: 79vw;
    position: absolute;
}
.disc-container .cover{
    width: 50vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 22s infinite linear;
    animation-play-state: paused;
}
.disc-container.playing .light,
.disc-container.playing .cover{
    animation-play-state: running;
}
.disc-container .pasue-play{
    display: none;
}
.disc-container.playing .pasue-play{
    display: block;
}
.disc-container.playing .icon-play{
    display: none;
}

/*歌词*/
.song-description{
    color: #AEABAC;
    text-align: center;
    margin-top: 6.66vw;
    z-index: 1;
}
.song-description h1{
    font-size: 18px;
    color: #fff;
}

.song-description .lyric{
    margin-top: 3.733vw;
    overflow: hidden;
}
.song-description .lines{
    line-height: 1.5;
    font-size: 4.26vw;
    height: 23.46vw;
    transition: transform 0.3s;
}
.song-description p{
    padding-bottom: 2.133vw;
}
.song-description p.active{
    color: rgb(255, 255, 255);
}
/*按钮*/
.links{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2vh;
    z-index: 10;
}

.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D43832;
}
.footer-wrap span{
    width:37.3vw;
    margin: 0.5em;
    text-align: center;
    border: 1px solid #D43832;
    background: transparent;
    height: 6.3vh;
    line-height: 6vh;
    border-radius: 1.06vw;
    letter-spacing: 1.06vw;
    font-size: 4.8vw;
}
.footer-wrap span.u-red{
    color: #fff;
    background-color: #d43b32;
}

